[submodule "extern/cpp-jwt"]
	path = extern/cpp-jwt
	url = https://github.com/arun11299/cpp-jwt.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "extern/speexdsp"]
	path = extern/speexdsp
	url = git@github.com:xsquawkbox/speexdsp.git
	branch = master
